extends ../layout

block content
    h1.
        Infophoto #{device._id}
    p Name: #{device.name}
    p Version: #{device.version}
    p DOB: #{device.dob.getDate()}.#{device.dob.getMonth()+1}.#{device.dob.getFullYear()}
    p Owner: #{device.owner}

       p
        a(href='/devices') Devices Page
